

html {color:#242424; background:#FFF;}
body {margin:0; padding:0;}
body {background-color:#fff; font-family: Arial, Tahoma, sans-serif; font-size:13px;}
img {border:none;}


a.y,a.y:active {color:#07519A; text-decoration:underline;}
a.y:hover  {color:#07519A; text-decoration:none;}


#seq {padding-top:4px}
#pp {padding-right:10px}
html {height:100%;}
a{color:#004896;text-decoration:underline}
a:hover{color:#274D83;text-decoration:none}
a:active{color:#E19200;text-decoration:underline}
h1.np {margin-bottom: 15px; padding-top: 0; text-align:center; font-size:13px; color:#009900; font-weight:normal;}
h1.bar {margin: 5px 12px 5px 0; text-align:right; font-size:12px; color:#b5c7d7;  font-weight:normal;}
body {height: 100%; color:#1A1A1A; font-size:13px; font-family: Arial, Tahoma, sans-serif;}
#wrap {width:960px; margin: 0 auto; }
.container {width:100%; float:left; margin-bottom:10px; font-size:13px;}
.top-l {border:none; background:none; color:#000; width:500px; padding:0; margin-right:5px; 
display:inline; float:left; padding:6px 8px 5px 8px;}
.top-r {position:relative; width:420px; color:#000; float:right; border:none; text-align:right; padding:6px 8px 5px 8px;}
.top-l strong {font-size:13px;  font-weight:normal;}
.wBox {height:1px; border-bottom:1px solid #e3eef9; text-align:center;}
.sBox {height:96px; padding:3px 0 8px 0; text-align:center;}
.ultra {width:708px; float:right; font-size:12px; margin-bottom:8px;}
.ultra a {display:block; float:left; width:68px; text-align:center; color:#993300;}
/*left&right*/
.left, .right, .pro, .lb {float:left; border:1px solid #AACCEE; font-size:13px;}
.left {padding:10px 13px 3px 13px; padding-bottom:6px 0; display:inline; background:#F3FAFF; width:190px;}
*+html .left {padding-bottom:5px}
.lb {border:1px solid #ADCEEF; background:none; width:216px; padding:0; margin-right:10px; height:288px; display:inline;}
.rb {position:relative; width:732px; float:right; border:none;}
.right {width:728px; background:#FEFEFE; padding:1px; padding-bottom:20px 0; float:right;}
*html .right {height:934px;}
h2.l-n {width:100%; float:left; padding:3px 0 0 3px;}
h1.np {padding-top:1px;}
.l-a {border-bottom:1px solid #DAEAFA; width:100%; float:left; padding-bottom:6px; margin-bottom:10px;}
.none {border:none; padding-bottom:2px;}
*+html .none {padding-bottom:11px;}
.l-a a {display:block; float:left; width:31%; padding:6px 0 6px 3px;}
.right h2 {background:#EEF7FF; width:97.2%; float:left; padding:5px 10px; margin:5px 0}
.right h2.nn {margin-top:0;}
.right h2 a {color:#1A5FA2;}
.right h2 a:hover {color:#1A5FA2; text-decoration:underline;}
.right h2 a.r {float:right; font-size:12px; color:#117B11; font-weight:normal; margin:2px 5px 0 0;}
.bb {background:#FBFDFE;}
.dir {width:98%; float:left; padding:0 0 0 10px;}
.dir a {display:block; width:96px; float:left; overflow:hidden; line-height:200%;}
*html .dir a {line-height:205%}
*+html .dir a {line-height:205%}
.dir a.m {float:right; width:16px; font-size:12px; text-align:right;}
.dir a.s {color:#117B11;}
.dir a.green {width:118px; color:#009900;}
.pro {width:958px; background:#F6FBFF;}
.soft {width:99%; float:left; padding:10px 0;}
.no-a {padding:0 0 10px 0;}
.soft a {font-size:12px; padding-right:15px; display:block; width:76px; float:left; overflow:hidden; line-height:120%;}
a.list-y {font-weight:bold; padding:0 20px 0 10px; width:88px; text-align:center;}
a:hover.gr {color:#E60012;}
a.gr {color:#178517;}
.left, .right, .pro {position:relative;}
.context {width:730px; height:90px; text-align:center; margin:0; padding:6px 0 6px 0; border:0px;}
/*head right*/
.tron {width:98%; float:left; border-bottom:1px dashed #DAEAFA; padding:0 0 0 10px; display:inline;}
.tron a {display:block; float:left; line-height:25px; font-size:13px;  
width:96px; height:28px; overflow:hidden; line-height:180%;}
*html .tron a {line-height:205%}
*+html .tron a {line-height:205%}
.tron a.m {float:right; width:15px; font-size:12px; text-align:right;}
.tron a.green {width:122px; color:#009900;}
.tron a.s {color:#117B11;}
.non {border-bottom:none; padding-top:0;}
.left, .right, .dh, .tab strong, ul.ta li, .pro {position:relative;}
/*footer*/
.foot, .bottom {float:left;}
.bottom {width:100%; text-align:center; height:100px; margin:6px 0 6px 0; border:0px;}
.foot {width:100%; text-align:center; padding:10px 0 20px 0; color:#666; font-size:12px;}
.foot strong {color:#717C86; font-weight:normal;}
/*tabs*/
.section {width: 732px; margin: 0 0 5px; height:285px;}
ul.tabs {height: 28px; line-height: 25px; list-style: none; border-bottom: 1px solid #DDD; background: #FFF;}
.tabs li {float: left; display: inline; margin: 0 1px -1px 0; padding: 0 13px 1px; color: #07519A;
cursor: pointer; background: #ECF7FF; border: 1px solid #AACCEE; border-bottom: 1px solid #ECF7FF; position: relative;}
.tabs li:hover {color: #07519A; padding: 0 13px; background: #FBFDFE; border: 1px solid #AACCEE;}
.tabs li.current {color:#07519A; background: #FEFEFE; padding: 0 13px 2px; border: 1px solid #AACCEE;
border-bottom: 1px solid #FEFEFE; font-weight:bold;}
.box {display: none; height:245px; border: 1px solid #AACCEE; border-width: 0 1px 1px; background: #FEFEFE;
padding: 5px 2px 15px 0px;}
.box.visible {display: block;}


#value {
	width: auto;
	padding-top:10px;
	margin-bottom:-10px;
margin-left:20px;
 }
 #google{
	padding-top:5px;
	padding-left:25px;
 }
 #google a:visited{
	color: #800080;
 }
iframe,image{
	border:0;
}

#google image.img{
	border: 1px solid #AFAFAF;
	padding: 2px;
}

ul.tab{
	padding-left:148px;
	margin:0px;
	margin:2px 0 3px 0;
	font-size:13px;
	align:center;
}
ul.tab li {float:left;margin-right:2px;overflow:hidden; list-style:none;}

.tab a:link, .tab a:visited, .tab{
	color: #373737;
	display:block;
	line-height:25px;
	text-decoration:none;
}

.tab a span{
	display:block;
	margin-right:5px;
	padding-left:5px;
	padding-top:1px;
}
* HTML .tab a span{
	padding-top:1px;
}
*:first-child+html .tab a span{
	padding-top:1px;
}
html:root .tab a span{
	padding-top:1px;
}
.tab a:hover{
	display:block;
	color:#373737;
	text-decoration:none;
}
.tab a:hover span{
	display:block;
}
ul.tab li.active a:link, ul.tab li.active a:visited, ul.tab li.active a:visited, 
ul.tab li.active a:hover{
	font-weight: bold;
	color: #000;
	margin-left:1px;
	margin-right:1px;
	text-decoration:none;
}


#wrapper {
  width: 100%;
  width: expression((documentElement.clientWidth||document.body.clientWidth)<995?'1000px':'');
  min-width: 800px;
}
#container {width: 100%;}
#content {
  width: 100%;
  float: left;
}
#google {margin: 0;color:#060606;margin-top:-8px}

#right {
  float: right;
  width: 200px;
position:absolute;
z-index:10;

margin-left:783px;
margin-top:-42px

}

.r1, .r2, .r3, .r4, .r5 {
	display: block;
	height: 1px;
	overflow: hidden;
	font-size:1px;
}
.r5 { margin: 0 5px; }
.r4 { margin: 0 4px; }
.r3 { margin: 0 3px; }
.r2 { margin: 0 2px; }
.r1 { margin: 0 1px; }










#rounded-box-3 .inner-box, #rounded-box-3  b {
	font-size:12px;
}


#rounded-box-3 a,#rounded-box-3 a:active{
text-decoration:underline; 
color:#07519A;
}
#rounded-box-3 a:hover {
color:#07519A;
text-decoration:none;
}

#rounded-box-3 .inner-box span{
	font-size:11px;
}
#qs {
	position:absolute;
	display:none;
	z-index:11;
	padding:5px;
	width:200px;
	margin-left:-45px;
	margin-top:8px;
	background-color:#EDF6FF;
		border:1px solid #AACCEE;
	border-top:0px;
}
#qs a {
	color:#606060;
}
#x {
border:0px;
font-size:13px;
 background: url(images/bn.png) no-repeat; 
width:124px;
height:37px;
margin-top:6px;

}

#x:hover{background: url(images/bn2.png) no-repeat; }
#x:active{background: url(images/bn3.png) no-repeat; }

.inner-box {
    padding:10px 10px 5px 10px;
}
a.u {
	color:#535353;
}
#footer {
	text-align:center;
	font-size:11px;
	font-family:tahoma;
	color:#7E7E7E;
	padding:20px;
	padding-top:100px
}
#logo {
	margin-top:-2px;
	padding-left:0px
}

	

	#q{width:630px;z-index:200;height:25px;font-size:16px;border:0;background: url(/images/q.gif) 0 0 no-repeat;padding-left:7px;padding-bottom:5px; padding-top:5px}
	#q { 

     padding-top:5px\0/; 
	 margin-top:1px\0/; 
	 
}
#x{
margin-top:35px\0/; 
}
#galq{margin-left:-50px;}
img{border:none;}.gallery ul{width:960px;float:no;}.gallery li{margin:10px;padding:0;float:left;width:165px;height:210px;text-align:center;z-index:800;}.gallery{list-style:none;margin:0;padding:0;border:0px;margin-top:-30px;width:960px;}.gallery img{background:#fff;border:solid 1px #ccc;padding:4px;}.gallery a{text-decoration:none;}.gallery a:hover img{border-color:#666;}

#debug{list-style:none;margin:0;padding:0;border:0px;border:solid 1px #BFCEDC;border-top:0;font-size:14px;margin-left:199px;position:absolute;z-index:100;margin-top:0px;background-color:#fff;top:91px;min-width:250px;}#debug li{overflow:hidden;list-style:none;min-width:250px;margin:0;padding:0;background-color:#F8FAFB;margin-bottom:1px;}.debug li a{text-decoration:none;color:#393939;padding:5px 20px 5px 6px;display:block;}.debug a:hover{color:#070707;}#debug li:hover{background-color:#F2F2F2;}.ses{background-color:#F2F2F2;}.ses a:link,.ses a:visited{background-color:#F2F2F2;}#debug div{padding:0;font-size:10px;margin-top:-13px;margin-right:3px;color:#CC8732;}
*+html  #debug{
	margin-top:-1px;
}
#opt{
position:absolute;
padding-left:10px;
top:167px;
color:#515151;

}
#rez{
margin-top:-2px;
margin-right:15px;
}
#opt a,#opt a:visited{color:#515151;text-decoration:none;
	 border-bottom: 1px dashed #939393;}#opt a:hover {color:#515151;text-decoration:none;
	 border-bottom: 1px dashed #939393;}

#iv6 a,#iv6 a:visited{color:#9A681E}#iv6 a:hover {color:#B34F44}
#nextr{padding-bottom:50px;padding-left:50px;clear: both;float:left;font-size:14px;}
#scr {position:absolute;margin-top:-50px;}
#options {display:none;position:absolute;top:25px;margin-left:804px;border: 1px solid #EAEAEA;padding:5px;font-size:11px;background-color:#fff}
#options a {background-color:#fff;}
div.sw{
  position:absolute;
	max-height:200px;
	min-width:145px;
	overflow: auto;
    overflow-y: auto;
	overflow-x: hidden;
	display:none;
    border:1px solid #B3B3B3;
    background-color:#fff;
	z-index:200;
	
}
*+html div.sw{
	overflow: auto;
	width:145px;
	overflow-x: hidden;
}
* html  div.sw{
	height:115px;
	width:150px;
	overflow: auto;
	overflow-x: hidden;
}
div.sw ul  {
  margin:0px;
  padding:0px;
	
}


div.sw ul li {
  list-style-type:none;
  margin:0;
  text-align:left;
  padding:3px;
   padding-left:9px;
   padding-right:9px;
  cursor:pointer;
   color:#515151;
}
div.sw ul li:hover { 
  color:#1B1B1B;
  background-color:#EBEBEB
}
#img_opt {
	display:none;
}

#ebn li {
	list-style-type:none;
	padding:8px;
}

#ebn {
	padding-top:8px;
}

#add {
	position:absolute;
	top:70px;
	right:10px;
}

#req {
	display:none;
	padding:8px 5px 0px 30px;
	color:#444444;
	font-size:14px;
}

#im  {
	margin-bottom:-4px;
	padding-right:4px;
}

#ads a { color:#9A9A9A}

#otz,#ot2 {display:none;color:#4D4D4D;}

.news{list-style:none;margin:0;padding:0;border:0px;}




ul.tab2{-webkit-border-radius-top: 10px;
-moz-border-radius-top: 10px;
border-top-left-radius: 10px;
border-top-right-radius:10px;
	background-color:#EDF6FF;
	height:27px;

	padding-bottom:2px;
	padding-top:5px;
	margin:0px;
	margin:18px 0 10px 0;
	font-size:14px;
	border-bottom:1px solid #AACCEE;
}
ul.tab2 li {float:left;margin-right:2px;margin-top:4px;overflow:hidden;height:26px; list-style:none;}

.tab2 a:link, .tab2 a:visited{
	color: #044691;
	display:block;
	line-height:25px;
	text-decoration:none;
}

.tab2 a span{
	display:block;
	margin-right:12px;
	padding-left:12px;
	padding-top:1px;
}

.tab2 a:hover{
	display:block;
	color:#044691;
	text-decoration:none;
}
.tab2 a:hover span{
	display:block;
}
ul.tab2 li.active a:link, ul.tab2 li.active a:visited, ul.tab2 li.active a:visited, 
ul.tab2 li.active a:hover{
	
	font-weight: bold;
	color:#044691;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #AACCEE;-webkit-border-radius-top: 5px;
-moz-border-radius-top: 5px;
border-top-left-radius: 5px;
border-top-right-radius:5px;
}
#gads {top:190px;margin-left:790px;position:absolute;z-index:1;}
#yl {top:200px;margin-left:470px;position:absolute;z-index:2;}
#yads{z-index:3;}
